# App
NEXT_PUBLIC_APP_NAME=CradleOS

# Airtable
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=appnDyYjpnya1CHUy
AIRTABLE_CAREGIVER_TABLE_ID=tbl1ewCmWeRe8POgE
AIRTABLE_REFERENCES_TABLE_ID=tblZMRxhJPHnaSA7B
AIRTABLE_TASKS_TABLE_ID=tblenMm3wKNQfG1r7

# Fillout
FILLOUT_WEBHOOK_SECRET=
