# App
NEXT_PUBLIC_APP_NAME=CradleOS

# Airtable
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=appnDyYjpnya1CHUy
AIRTABLE_CAREGIVER_TABLE_ID=tbl1ewCmWeRe8POgE
AIRTABLE_REFERENCES_TABLE_ID=tblZMRxhJPHnaSA7B
AIRTABLE_TASKS_TABLE_ID=tblenMm3wKNQfG1r7
AIRTABLE_CAREGIVER_REFERENCES_FIELD_ID=fld9D6WP4x7vCgQrS
AIRTABLE_CAREGIVER_TASKS_FIELD_ID=fldeQdKJGxYP4r8rL
AIRTABLE_CAREGIVER_SUBMISSION_ID_FIELD_ID=fldCECAjKR8PZlSCO
AIRTABLE_CAREGIVER_REFERENCE_1_NAME_FIELD_ID=fldt17D3RHJ65A2W5
AIRTABLE_CAREGIVER_REFERENCE_1_NUMBER_FIELD_ID=fldwObk23U7Jj33HO
AIRTABLE_CAREGIVER_REFERENCE_1_EMAIL_FIELD_ID=fldnGBtOn5zyAdwM4
AIRTABLE_CAREGIVER_REFERENCE_1_RELATIONSHIP_FIELD_ID=fldfekLkwfqM0K6Yp
AIRTABLE_CAREGIVER_REFERENCE_2_NAME_FIELD_ID=fldNf9xzYln0AqTQA
AIRTABLE_CAREGIVER_REFERENCE_2_NUMBER_FIELD_ID=fld2SjVgwkdhwBH4m
AIRTABLE_CAREGIVER_REFERENCE_2_EMAIL_FIELD_ID=fldHoz3kSI4jtdKNG
AIRTABLE_CAREGIVER_REFERENCE_2_RELATIONSHIP_FIELD_ID=fldhEhBLDNyPUQouu
AIRTABLE_REFERENCE_NAME_FIELD_ID=fldwsptjlYKv6DrWp
AIRTABLE_REFERENCE_CAREGIVER_FIELD_ID=flddnFFwd14Ya8QxP
AIRTABLE_REFERENCE_EMAIL_FIELD_ID=fldtAoFDOQIb6UlVy
AIRTABLE_REFERENCE_RELATIONSHIP_FIELD_ID=fldUcH1NjIrFZqOjh
AIRTABLE_REFERENCE_VERIFICATION_STATUS_FIELD_ID=fldAyzms0btbbi35m
AIRTABLE_REFERENCE_VERIFIED_FIELD_ID=flduPMHW6tq7fuueo
AIRTABLE_TASK_STATUS_FIELD_ID=fld2y5HDbD9kd4I7A
AIRTABLE_TASK_CAREGIVER_FIELD_ID=fldsWdEQJNk3FpkwA
AIRTABLE_TASK_TYPE_FIELD_ID=fldYFiSie7FrCpZCR
AIRTABLE_TASK_PRIORITY_FIELD_ID=fldBqYArwnUhVPw3m
AIRTABLE_TASK_COMPLETION_ACTION_FIELD_ID=fldMTmmjcmpR81vgI
AIRTABLE_TASK_NEXT_TYPE_FIELD_ID=fldQcrDCGFnG8dzdQ
AIRTABLE_TASK_NEXT_PRIORITY_FIELD_ID=fldgBm88rACCPbXMA

# Fillout
FILLOUT_WEBHOOK_SECRET=
